

<gsc-tabs selected-tab="view.importanceTab">
  <gsc-tab name="choose">
    <p>Choose an importance</p>
    <p><button ng-click="view.setLocationImportance('no')">no</button>
      <button ng-click="view.setLocationImportance('somewhat')">somewhat</button>
      <button ng-click="view.setLocationImportance('very')">very</button></p>
  </gsc-tab>
  <gsc-tab name="no">
    NO
  </gsc-tab>
  <gsc-tab name="somewhat">
    SOMEWHAT
  </gsc-tab>
  <gsc-tab name="very">
    VERY
  </gsc-tab>
</gsc-tabs>

